.banner {
  display: flex;
  min-height: 440px;
  background: $primaryColor;
  color: $secondaryTextColor;
  position: relative;
  background-position: top center;
  padding-top: 50px;

  &__column {
    width: 50%;
    display: inline-block;
  }

  &__item {
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    .btn {
      margin-top: 1em;
      display: inline-block;
    }
  }

  &__title {
    font-family: 'Signika', sans-serif;
    color: $secondaryTextColor;
    font-size: 3em;
    text-shadow: 2px 2px 2px $titleColor;
    margin: 0 0 0.5em 0;

    &:after {
      content: '';
      background: $secondaryColor;
      display: block;
      width: 70px;
      height: 5px;
      border-radius: 3px;
      margin: 5px auto;
    }
  }
}