div, body, article, section, ul, nav, header, footer {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
}

.btn {
  background: $secondaryColor;
  color: $secondaryTextColor;
  padding: 1em 3em;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: $primaryColor;
  }
}

.container {
  max-width: 100%;
  width: 970px;
  margin: 0 auto;
}
