div, body, article, section,
ul, nav, header, footer,
aside {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
  background: $mainBackground;
}

.btn {
  background: $secondaryColor;
  color: $secondaryTextColor;
  padding: 1em 3em;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: $primaryColor;
  }
}

.container {
  max-width: 100%;
  width: 970px;
  margin: 0 auto;
}

.link {
  &--mail,
  &--call,
  &--maps {
    font-size: 1.1em;

    &:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-left: 0.5em;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}


.link--call:after {
  background-image: url('../imgs/call-icon.svg');
}

.link--mail::after {
  background-image: url('../imgs/mail-icon.svg');
}

.link--maps::after {
  background-image: url('../imgs/map-icon.svg');
}

.btn--share {
  border: none;
  overflow: hidden;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('../imgs/share-button.svg') no-repeat;
}

.wp-post-image {
  max-width: 100%;
  height: auto;
}
