.courses {
  padding: 2em 1em;
  text-align: center;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;

    &:after {
      content: '';
      background: $secondaryColor;
      display: block;
      width: 50px;
      height: 5px;
      border-radius: 3px;
      margin: 3px auto;
    }
  }
}

.coursesList {
  @include desktop {
    display: flex;
  }
}

.courseCard {
  border: 1px solid $borderColor;
  margin: 1em;
  border-radius: 5px;

  &__thumbnail {
    margin: 0;
    padding: 0;
    font-size: 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    margin: 0 0 0.3em 0;
    border-bottom: 1px solid $secondaryColor;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-family: 'Signika', sans-serif;
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 1em;

    .btn--share {
      margin: 0.6em;
    }
  }

  &__info {
    padding: 1em;
  }

  .btn {
    display: inline-block;
  }

  @include desktop {
    width: 33%;
  }
}

.course {
  &__content,
  &__form {
    max-width: 100%;
    padding: 1em;
    margin: 0.5em 0.5em 3em;
    background: $secondaryTextColor;
  }

  &__form {

  }

  @include desktop {
    &__single {
      display: flex;
    }

    &__form {
      width: 30%;
    }
  }
}