.footer {
  background: $secondaryColor;
  color: $secondaryTextColor;
  padding: 1em;

  a {
    color: $secondaryTextColor;
    text-decoration: none;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__widget {
    @include desktop {
      width: 33%;
    }
  }

  &__copyright {
    margin-top: 1em;
    text-align: center;
    font-size: 0.7em;
  }
}