.top-bar {
  background: $primaryColor;
  color: $secondaryColor;
  display: fixed;
  top: 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
  }

  &__menu {
    display: inline-block;
    padding-top: 0.5em;

    .page_item {
      display: inline-block;
      margin-right: 1em;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    a {
      color: $secondaryColor;
      text-decoration: none;
    }
  }

  &__site-logo{
    display: inline-block;
    margin: 0;
  }

  &__contact {
    border-bottom: 1px solid #f4f4f4;
    text-align: right;
    padding: 0.3em;

    a {
      color: $secondaryColor;
      text-decoration: none;
    }
  }
}

